.dropdown {
    position: relative;
    background-color: inherit;
}

.dropdown li {
    position: relative;
    background-color: inherit;
    list-style: none;
}

.dropdown li:hover > ul {
    display: block;
}

.dropdown li:hover > #header_submenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.dropdown a {
    display: block;
    padding-bottom: 0.3em;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 0.3em;
    right: 0;
    padding-top: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: inherit;
    opacity: 0.7;
    outline-color: #000;
}

.dropdown ul li {
    float: none;
}

.dropdown ul a
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.dropdown ul ul {
    margin-top: 1.35em;
}
