body {
    font-family: sans-serif;
}

.content_container {
    padding-bottom: .5em;
    clear: both;
}

.content_container_title {
    font-size: 1.2em;
    font-variant: small-caps;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.content_container_spacer {
    clear: both;
    height: 0.5em;
}

#footer_container {
    clear: both;
    font-size: 0.7em;
}

#song_title {
    font-size: 1.8em;
    font-weight: bold;
    font-variant: small-caps;
}

#song_attributes {
    font-size: 0.8em;
    font-style: italic;
}

.row {
    float: left;
    clear: both;
    display: inline-block;
    padding: 0.2em;
    padding-bottom: 0.35em;
}

.fixed_width {
    width: 5em;
}

.even {
}

.odd {
    background-color: #EEE;
}

.progression_name {
    float: left;
    padding-left: 0.2em;
    padding-top: 0.6em;
    padding-right: 0.5em;
}

.progression_content {
    float: left;
}

.progression_measure_delimiter {
    display: inline-block;
    position: relative;
    height: 0.9em;
    width: 0.5em;
    font-size: 2.5em;
    text-align: center;
}

.progression_measure_delimiter .progression_measure_delimiter_note {
    display: inline-block;
    position: absolute;
    /*float: right;*/
    top: -0.35em;
    left: 1em;
    font-size: 0.35em;
}

.progression_measure_content {
    display: inline-block;
    position: relative;
    top: -0.4em;
    height: 0.9em;
}

.progression_measure_subdivision {
    display: inline-block;
    height: 0.9em;
    width: 1em;
}

.form_section {
    width: 54em;
    padding-top: 0.6em;
}

.form_section_progression {
    float: left;
    padding-left: 0.2em;
    padding-right: 0.5em;
}

.form_section_reps {
    display: inline-block;
    width: 3em;
}

.form_section_lyrics_hint {
    clear: both;
    font-style: italic;
    font-size: 0.8em;
    padding-left: 0.2em;
}

#lyrics_content {
    padding: 0.2em;
}

/*
 * I N D E X  P A G E
 */

.toc_letter {
    font-size: 1.3em;
    font-weight: bold;
}

.index_table {
    border-collapse: collapse;
}

.index_table td {
    border: none;
    padding: 0.2em;
}

.index_song_title {
    padding-right: 0.5em !important;
}
