{% extends "base.jinja2" %}

{% block page_title %}{{ song.title }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dropdown.css') }}" />
{% endblock %}

{% block content %}

    <div id="header_container" class="content_container">
        <div class="header_subcontainer">
            <div class="header_link"><a href="/">Back to index</a></div>
        </div>
        <div class="header_subcontainer">
            <div class="header_label">Title</div>
            <div id="song_title">{{ song.title }}</div>
            {% if render_leadsheet %}
                <div class="header_label">Key</div>
                <div class="song_attribute">{{ song.key }}</div>
                <div class="header_label">Time</div>
                <div class="song_attribute">{{ song.time.count }}/{{ song.time.unit }}</div>
                <div class="header_label">Feel</div>
                <div class="song_attribute">{{ song.feel }}</div>
            {% endif %}
        </div>
        <div class="header_subcontainer">
            {% if render_leadsheet %}
                <div class="header_link dropdown">
                    <li>
                        <a href="#">Transpose</a>
                        <ul>
                            {% for root in transpose_roots %}
                                <li><a href="?transpose_root={{ root }}">{{ root }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </div>
            {% endif %}
        </div>
    </div>

    {% if render_leadsheet %}
        <div id="progressions_container" class="content_container{% if song.condense_measures %} condensed{% endif %}">
            <div id="progressions_title" class="content_container_title">Progressions</div>
            <div id="progressions_content">
                {% for progression in song.progressions %}
                    <div class="progression_container row {{ loop.cycle('odd', 'even') }}">
                        <div class="progression_name fixed_width">{{ progression.name }}</div>
                        <div class="progression_content">
                            {% for row in progression.rows %}
                                <div class="progression_row">
                                    {% for measure in row %}
                                        <span class="progression_measure_delimiter">
                                            <img src="{{ url_for('static', filename=measure.start_bar) }}" />
                                            <div class="progression_measure_delimiter_start_note">{{ measure.start_note }}</div>
                                        </span>
                                        <span class="progression_measure_content subdivisions_{{ num_subdivisions }}">
                                            {% for subdivision in measure.subdivisions %}
                                                <span class="progression_measure_subdivision">
                                                    {% if subdivision.optional %}({% endif %}{{ subdivision.root }}<sup>{{ subdivision.spec }}</sup>{% if subdivision.base %}/<sub>{{ subdivision.base }}</sub>{% endif %}{% if subdivision.optional %}){% endif %}
                                                </span>
                                            {% endfor %}
                                        </span>
                                    {% endfor %}
                                    <span class="progression_measure_delimiter">
                                        <img src="{{ url_for('static', filename=row[-1].end_bar) }}" />
                                        <div class="progression_measure_delimiter_end_note">{{ row[-1].end_note }}</div>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="form_container" class="content_container">
            <div id="form_title" class="content_container_title">Form</div>
            <div id="form_content">
                {% for section in song.form %}
                    <div class="form_section row {{ loop.cycle('odd', 'even') }}">
                        <table>
                            <tr>
                                <td class="form_section_name fixed_width">{{ section.progression }}</td>
                                <td class="form_section_reps">{% if section.reps %}{{ section.reps }}x{% endif %}</td>
                                <td class="form_section_comment">{% if section.comment %}{{ section.comment|join('') }}{% endif %}</td>
                            </tr>
                        </table>
                        <div class="form_section_lyrics_hint">{{ section.lyrics_hint }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if render_lyrics %}
        <div id="lyrics_container" class="content_container">
            <div id="lyrics_title" class="content_container_title">Lyrics</div>
            <div id="lyrics_content">
                {% for section in song.form %}
                    {% if section.lyrics %}
                        {% if break_flag %}
                            <br />
                            {% if not section.continuation %}<br />{% endif %}
                        {% endif %}
                        {% set break_flag = True %}
                        {{ section.lyrics|safe }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
