{% extends "base.jinja2" %}

{% block page_title %}{{ song.title }}{% endblock %}\

{% block content %}

    <div id="header_container" class="content_container">
        <div id="song_title">{{ song.title }}</div>
        {% if render_leadsheet %}
            <div id="song_attributes">
                {{ song.key }}, {{ song.time.count }}/{{ song.time.unit }}
                {% if song.feel %}[{{ song.feel }}]{% endif %}
            </div>
        {% endif %}
    </div>

    {% if render_leadsheet %}
        <div id="progressions_container" class="content_container">
            <div id="progressions_title" class="content_container_title">Progressions</div>
            <div id="progressions_content">
                {% for progression in song.progressions %}
                    <div class="progression_container row {{ loop.cycle('odd', 'even') }}">
                        <div class="progression_name fixed_width">{{ progression.name }}</div>
                        <div class="progression_content">
                            {% for row in progression.rows %}
                                <div class="progression_row">
                                    {% for measure in row %}
                                        <span class="progression_measure_delimiter">
                                            <img src="{{ measure.start_bar }}" />
                                            <div class="progression_measure_delimiter_start_note">{{ measure.start_note }}</div>
                                        </span>
                                        <span class="progression_measure_content subdivisions_{{ num_subdivisions }}">
                                            {% for subdivision in measure.subdivisions %}
                                                <span class="progression_measure_subdivision">
                                                    {{ subdivision.root }}<sup>{{ subdivision.spec }}</sup>{% if subdivision.base %}/<sub>{{ subdivision.base }}</sub>{% endif %}
                                                </span>
                                            {% endfor %}
                                        </span>
                                    {% endfor %}
                                    <span class="progression_measure_delimiter">
                                        <img src="{{ row[-1].end_bar }}" />
                                        <div class="progression_measure_delimiter_end_note">{{ row[-1].end_note }}</div>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content_container_spacer"></div>
        <div id="form_container" class="content_container">
            <div id="form_title" class="content_container_title">Form</div>
            <div id="form_content">
                {% for section in song.form %}
                    <div class="form_section row {{ loop.cycle('odd', 'even') }}">
                        <div class="form_section_progression fixed_width">{{ section.progression }}</div>
                        <span class="form_section_reps">{% if section.reps %}{{ section.reps }}x{% endif %}</span>
                        <span class="form_section_comment">{% if section.comment %}{{ section.comment }}{% endif %}</span>
                        <div class="form_section_lyrics_hint">{{ section.lyrics_hint }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content_container_spacer"></div>
    {% endif %}

    {% if render_lyrics %}
        <div id="lyrics_container" class="content_container">
            <div id="lyrics_title" class="content_container_title">Lyrics</div>
            <div id="lyrics_content">
                {% for section in song.form %}
                    {% if section.lyrics %}{{ section.lyrics|safe }}<br /><br />{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
